name: Hexo Deploy

# 当 main 分支有 push 时触发
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 拉取仓库代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 安装 Node.js 环境
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 配置 git 用户信息
      - name: Setup Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      # 安装 Hexo 依赖
      - name: Install dependencies
        run: |
          cd blog
          npm install

      # Hexo 清理、生成、部署
      - name: Hexo Deploy
        env:
          GH_PAT: ${{ secrets.GH_PAT }}  # 这里传入 Fine-grained token
        run: |
          cd blog
          npx hexo clean
          npx hexo generate
          npx hexo deploy
